*{
    margin: 0px;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
    }

.text-pink{
    color: #E55473;
}
   

/* shared style......... */

.btn-primary{
   font-size: 18 px;
   font-weight: bold;
   background-color: #E55473;
   color: white;
   padding: 20px 43px;
   border-radius: 8px;
   border: none;
   cursor: pointer;                
}

.btn-primary:hover{
    background-color: #d61837;
}

/* header ............*/

.banner{
    background-color: #FFD4CF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px; 
}

.banner-description{
    max-width: 600px;
}

.banner-description h1 {
    font-size: 70px;
    font-weight: bolder;
    color: #272727;
}

.banner-description p {
    font-size: 18px;
    font-weight: 400;
    color: #272727;
    margin: 30px 0px;
}

.banner img {
    width: 350px;
}

/* main ............. */

.features{
    max-width: 1140px;
    margin: 100px auto;
}

.feature-title{
    text-align: center;
}

.feature-title h1 {
    font-size: 40px;
    font-weight: bold;
}
.feature-title p {
    padding: 5px 300px;
}

.features-items{
    margin-top: 100px ;
    display: flex;
    justify-content: space-around;
}

.box{
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
}

.img-box-1{

    background-color: #FFD4CF;
    background-image: url(images/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 200px;
}

.img-box-2{

    background-color: #92E0C0;
    background-image: url(images/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 250px;
}

.img-box-3{
    background-color: #AAE077;
    background-image: url(images/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 200px;
}

.features-items p{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.offer-container{
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFDEC7;
    padding: 30px 200px;
}

.offer-info{
    text-align: center;
    max-width: 550px;
}

.offer-title{
    font-size: 40px;
    font-weight: bold;
}

.offer-description{
    font-size: 18px;
    color: #272727;
    margin: 20px 0px;
}

.offer-img{
    width: 200px;
}

.instagram-container{
    max-width: 1140px;
    margin: 100px auto;
}

.insta-title{
    text-align: center;
    margin: 50px 0px;
}

.insta-title h1 {
    font-size: 40px;
    font-weight: bold;
}

.insta-title p {
    padding: 15px 300px;
}

.insta-img-container{
    display: flex;
    gap: 57px;
}

.insta-img img{
    width: 242px;
    height: 296px;
}


.input-container{
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 357px;
    margin: 100px auto;
    background-image: url(images/Rectangle\ 9.png);
    background-size: 1140px;
    background-repeat: no-repeat;
    
}
.input-box{
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
}

.input-box h1{
    font-size: 40px;
    font-weight: bolder;
}

.input-box p {
    font-size: 18px;
    color: #272727;
    margin: 15px 0px;
}

input{
    width: 500px;
    border-radius: 8px;
    height: 51px;
    border: none;
    margin-right: 5px;
}

input[type = email]{
    padding: 0px 15px;
}

footer{
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111010;
    color: white;
    padding: 0px 300px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

